html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

header {
    position: relative;
    text-align: center;
    background-color: white;
}

header h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    color: black;
    margin: 0;
    padding: 20px;
}

.logo {
    text-decoration: none;
    color: black;
}

h1 a:hover {
    text-decoration: none; 
    color: black;
}  

.image-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 500px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

nav {
    background-color: #E9DDC7;
    padding: 10px;
    width: 100%;
    box-sizing: border-box
}

nav a {
    font-family: 'Alice', serif;
    font-size: 40px;
    font-weight: 500;
    color: black;
    text-decoration: none;
    margin: 0 15px;
    padding: 10px;
    display: inline-block;
}

nav a:hover{
    color: black;
}

nav .dropdown {
    position: relative;
    display: inline-block;
}

nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #E9DDC7;
    min-width: 160px;
}

nav .dropdown:hover .dropdown-content {
    display: block;
}

nav .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

nav .dropdown-content a:hover {
    background-color: #A28769;
}

.search-container input[type="text"] {
    padding: 5px;
    text-align: center;
    font-size: 30px;
    border: none;
    border-radius: 55px;
    -webkit-text-fill-color: black;
}

.body-container {
    width: 75%; 
    max-width: 1600px;  
    margin: 0 auto;  
    padding: 0 15px; 
    text-align: left;  
    font-family: 'Alice', serif;
    padding-bottom: 20px;
}

.body-container h2, h3{
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    color: #a28769 !important;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.5px;
    padding-top: 35px;
}

.body-container h3{
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    color: #a28769 !important;
    margin-bottom: 30px;
    text-transform:none;
    font-weight: 700;
    letter-spacing: 1.5px;
    padding-top: 35px;
    }

.body-container p {
    margin-bottom: 20px;
    text-align: justify;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-size: 30px;
    font-weight: 500;
}

.body-container ul {
    list-style-type: disc;
    margin-left: 40px; 
    padding-left: 20px; 
    font-size: 30px; 
    font-weight: 500; 
    line-height: 1.5; 
}

.body-container ul li {
    margin-bottom: 15px; 
}

.body-container ul li strong {
    color: #a28769;
}

.body-container ul li::marker {
    color: #a28769; 
}

footer {
    background-color: #E9DDC7;
    color: black;
    padding: 20px 20px 20px 20px;
    text-align: center;
}

.footer-container {
    display: flex;
    width: 100%;
}

.footer-section {
    flex: 1;
    margin: 20px;
}

.footer-section h4 {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
    font-weight: 800;
}

.footer-section p,
.footer-section ul {
    font-family: 'Alice', serif;
    margin-bottom: 10px;
    font-size: 20px;
}

.footer-section ul {
    list-style-type: none;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    color: black;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-section form input[type="email"] {
    padding: 10px;
    border: none;
    border-radius: 55px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 300px;
    -webkit-text-fill-color: black;
    font-size: 15px;
}

.footer-section form button {
    padding: 10px 20px;
    border: none;
    border-radius: 55px;
    background-color: #CCB48F;
    color:black;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

.footer-section form button:hover {
    background-color: #E9DDC7;
    color:black;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
}

.social-icons img:hover {
    transform: scale(1.1);
}